.collections {
  margin-bottom: 100px;
}

.home-thumbs {
  margin-top: var(--space-bigger);
  padding-left: 232px;
}
.home-thumbs h2 {
  width: 61px;
  height: 29px;
  font-size: var(--space-big);
  line-height: 29px;
  font-weight: 700;
  color: var(--color-white);
  padding-right: 920px;
  margin-bottom: var(--space-bigger);
}
.home-thumbs ul {
  display: grid;
  align-items: center;
  justify-items: center;
  width: 95%;
  grid-template-columns: repeat(4, 1fr);
  column-gap: var(--space-medium);
  row-gap: var(--space-medium);
}
