.filter-thumbs {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3px 0px;
  gap: var(--space-small);
  position: relative;
  width: 161px;
  height: 40px;
  left: var(--space-bigger);
  top: var(--space-small);
  margin-bottom: var(--space-small);
}

.filter-thumbs .filter-id {
  width: var(--space-big);
  height: var(--space-big);
  flex: none;
  order: 0;
  flex-grow: 0;
  position: absolute;
  left: 0%;
  right: 85.09%;
  top: 15.71%;
  bottom: 15.71%;
}

.filter-id .id {
  position: absolute;
  left: 5.59%;
  right: 90.68%;
  top: 32.86%;
  bottom: 32.86%;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-gray-light);
}

.filter-thumbs .filter-content {
  width: 500px;
  height: 29px;
  flex: none;
  order: 1;
  flex-grow: 1;
}

.filter-content .title {
  position: absolute;
  left: 19.88%;
  right: 0%;
  top: 8.57%;
  bottom: 42.86%;
  width: 500px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--color-white);
}

.filter-content .artist {
  position: absolute;
  left: 19.88%;
  right: 3.53%;
  top: 57.14%;
  bottom: 8.57%;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: var(--color-gray-light);
}
