.search-page {
  margin-top: var(--space-bigger);
  margin-left: 232px;
}

.search-page h2 {
  width: 72px;
  height: 29px;
  font-size: var(--space-big);
  line-height: 29px;
  font-weight: 700;
  color: var(--color-white);
  padding-right: 920px;
  margin-bottom: var(--space-medium);
}

form {
  background-color: var(--color-white);
  margin-bottom: var(--space-bigger);
  border-style: none;
  width: 360px;
  height: 40px;
  border-radius: 100px;
}

form .search {
  display: grid;
  grid-template-columns: repeat(2, 0fr);
  column-gap: 2px;
  background: var(--color-white);
  border-radius: 100px;
}
.search img {
  margin-top: var(--space-small);
  height: var(--space-big);
  width: var(--space-big);
}
.search button {
  width: 50px;
  border: none;
  background-color: var(--color-white);
  border-color: var(--color-white);
  border-radius: var(--space-medium);
  background-image: none;
}

.search input {
  margin-top: var(--space-small);
  border: none;
  outline: none;
  font-weight: 400;
  font-size: var(--space-medium);
  line-height: ar(--space-big);
  left: 56px;
}
