.logo img {
  position: absolute;
  left: 16%;
  right: 25.33%;
  top: 4.44%;
  bottom: 91.11%;
  height: 32px;
  width: 117.33px;
}

.nav-link .image {
  width: 21.34px;
  height: var(--space-big);
  top: 6.25%;
  margin: 0 0 0 1.5rem;
  filter: brightness(0) invert(1);
}

.navbar {
  position: fixed;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  height: 100%;
  width: 200px;
  background-color: var(--color-black);
}

.navbar-nav {
  margin-right: 25.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  text-decoration: none;
}

.link-text {
  width: 44px;
  height: 19px;
  font-weight: 700;
  font-size: var(--font-text-desktop);
  line-height: 19px;
  flex: none;
  order: 1;
  flex-grow: 0;
  height: 19px;
  left: 40px;
  top: 2.5px;
  color: var(--color-white);
  margin-left: var(--space-medium);
}
