.App {
  font-family: var(--font-family);
}
body {
  margin: 0;
  padding: 0;
  background: var(--color-gray-darkest);
}

.load {
  color: var(--color-white);
  margin-left: 232px;
  margin-top: var(--space-bigger);
}
