:root {
  /* Colors */
  --color-black: #000000;
  --color-gray-darkest: #121212;
  --color-gray-dark: #242424;
  --color-gray-light: #a3a3a3;
  --color-white: #ffffff;
  --color-green: #1db954;

  /* Fonts */
  --font-family: "Lato";
  --font-title-desktop: 48px;

  --font-text-desktop: 16px;

  --font-button-desktop: 18px;

  /* Spacing */
  --space-big: 24px;
  --space-medium: 16px;
  --space-small: 8px;
  --space-bigger: 32px;
}
